@charset "UTF-8";
@font-face {
  font-family: "roboto";
  src: url("./Fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "monserat";
  src: url("./Fonts/Montserrat-Light.ttf"); }
* {
  padding: 0;
  margin: 0; }

::-webkit-scrollbar {
  width: 5px;
  background-color: #000000; }

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7; }

::-webkit-scrollbar-thumb:hover {
  background-color: #253861; }

html {
  scroll-behavior: smooth; }

.header {
  height: 8vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center; }
  .header .burger {
    display: none;
    width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative; }
    .header .burger .line_wrap {
      width: 55%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .header .burger .line_wrap span:before {
        transition: ease-in-out 0.5s all;
        content: '';
        top: -7px;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: black; }
      .header .burger .line_wrap span:after {
        transition: ease-in-out 0.5s all;
        content: '';
        top: 7px;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: black; }
      .header .burger .line_wrap span {
        width: 100%;
        height: 2px;
        transition: ease-in-out 0.5s all;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black; }
  .header .active_burger span:before {
    transition: ease-in-out 0.5s all;
    content: '';
    top: 0 !important;
    transform: translateY(0) rotate(45deg); }
  .header .active_burger span:after {
    transition: ease-in-out 0.5s all;
    content: '';
    transform: translateY(-7px) rotate(-45deg); }
  .header .active_burger span {
    width: 100%;
    height: 2px;
    transition: ease-in-out 0.5s all;
    background-color: transparent !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; }
  .header .links {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: ease-in-out 0.7s all; }
    .header .links a {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.3s all;
      font-family: "monserat";
      text-decoration: none;
      color: black;
      font-size: 3vh;
      font-weight: 900; }
    .header .links a:hover {
      color: #fff;
      background-color: black; }
  .header .logo {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .logo img {
      height: 100%; }
  .header .socials {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .header .socials a {
      margin-right: 30px; }
      .header .socials a img {
        width: 5.5vh;
        height: 5.5vh; }
  .header .active_link {
    left: 0 !important; }

.aboutus {
  height: 92vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff; }
  .aboutus .text h2 {
    font-family: "roboto";
    font-size: 4vh;
    margin-bottom: 10px; }
  .aboutus .text h1 {
    font-family: "roboto";
    letter-spacing: 0.3em;
    font-size: 6vh;
    font-weight: 900;
    border: solid 1px white; }
    .aboutus .text h1 .age {
      background-color: #fff;
      color: black; }
  .aboutus .text p {
    font-family: "roboto";
    font-size: 3vh;
    box-sizing: border-box;
    padding: 3% 5%;
    border: solid 1px white; }
  .aboutus h1 {
    font-family: "roboto";
    font-size: 7vh;
    letter-spacing: 0.3em; }
  .aboutus img {
    width: 25vh;
    height: 25vh;
    animation: ease-in-out infinite anim 4s; }

@keyframes anim {
  0% {
    transform: translateY(5px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }
.info {
  height: 55vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column; }
  .info .titleinfo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .info .titleinfo h1 {
      font-size: 4vh;
      font-family: "roboto";
      letter-spacing: 0.3em; }
  .info .textinfo {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .info .textinfo .card {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
      padding: 1% 1%;
      box-shadow: 0 4px 5px 4px rgba(0, 0, 0, 0.4) inset; }
      .info .textinfo .card p {
        font-family: "roboto";
        font-size: 3vh;
        display: flex;
        text-align: center;
        margin-top: 3vh; }
      .info .textinfo .card img {
        width: 10vh;
        height: 10vh; }

.sell {
  height: 55vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: #fff; }
  .sell .titleinfo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .sell .titleinfo h1 {
      font-size: 4vh;
      font-family: "roboto";
      letter-spacing: 0.3em; }
  .sell .textinfo {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .sell .textinfo .card {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
      padding: 1% 1%;
      border: solid 1px #fff; }
      .sell .textinfo .card p {
        font-family: "roboto";
        font-size: 3vh;
        display: flex;
        text-align: center;
        margin-top: 3vh; }
      .sell .textinfo .card img {
        width: 10vh;
        height: 10vh; }

.forma {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: url("./images/s_1.png") no-repeat;
  background-size: cover; }
@keyframes anim_list {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .forma .form {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: black;
    border: 5px solid white;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2% 2%; }
    .forma .form .title {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black; }
      .forma .form .title h1 {
        color: white;
        font-size: 4vh;
        font-family: "roboto";
        letter-spacing: 0.3em; }
    .forma .form .form_sell {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 3%; }
      .forma .form .form_sell h1 {
        color: white;
        font-size: 2.8vh;
        font-family: "roboto";
        letter-spacing: 0.2em; }
      .forma .form .form_sell .buy_sell {
        width: 100%;
        height: 80%;
        display: flex; }
        .forma .form .form_sell .buy_sell .sell {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .forma .form .form_sell .buy_sell .sell .whosell {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            align-items: center; }
            .forma .form .form_sell .buy_sell .sell .whosell .whosell_item {
              display: flex;
              width: 100%;
              height: auto;
              box-sizing: border-box;
              padding: 3% 1%;
              opacity: 0;
              justify-content: space-between;
              align-items: center;
              font-family: "monserat";
              background-color: black;
              border: solid 1px #fff;
              font-size: 3vh; }
              .forma .form .form_sell .buy_sell .sell .whosell .whosell_item p {
                font-size: 2.5vh;
                color: white; }
              .forma .form .form_sell .buy_sell .sell .whosell .whosell_item span {
                font-size: 2.5vh;
                color: white;
                display: flex;
                justify-content: flex-end;
                align-items: center; }
              .forma .form .form_sell .buy_sell .sell .whosell .whosell_item img {
                width: 15px;
                height: 15px;
                margin-left: 2px; }
        .forma .form .form_sell .buy_sell .buy {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .forma .form .form_sell .buy_sell .buy .whobuy {
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            align-items: center; }
            .forma .form .form_sell .buy_sell .buy .whobuy .whosell_item {
              display: flex;
              width: 100%;
              height: auto;
              box-sizing: border-box;
              padding: 3% 1%;
              justify-content: space-between;
              align-items: center;
              font-family: "monserat";
              background-color: black;
              border: solid 1px #fff;
              font-size: 3vh; }
              .forma .form .form_sell .buy_sell .buy .whobuy .whosell_item p {
                font-size: 2.5vh;
                color: white; }
              .forma .form .form_sell .buy_sell .buy .whobuy .whosell_item span {
                font-size: 2.5vh;
                color: white;
                display: flex;
                align-items: center; }
              .forma .form .form_sell .buy_sell .buy .whobuy .whosell_item img {
                width: 15px;
                height: 15px;
                margin-left: 2px; }
      .forma .form .form_sell .buttons_wrapper {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black; }
        .forma .form .form_sell .buttons_wrapper a {
          border: none;
          outline: none;
          text-decoration: none;
          min-width: 30%;
          height: 7vh;
          background-color: black;
          color: white;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          font-size: 2.8vh;
          font-weight: 900;
          font-family: "monserat";
          letter-spacing: 0.1em;
          border: solid 1px white;
          transition: ease-in-out 0.5s; }
        .forma .form .form_sell .buttons_wrapper .active {
          background-color: black;
          color: #fff; }
        .forma .form .form_sell .buttons_wrapper button:hover {
          background-color: #1a1a1a;
          color: #fff; }

.footer {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  background-color: black;
  border-top: 1px solid #fff; }
  .footer .logo {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
    text-align: center; }
    .footer .logo img {
      width: 30%;
      height: 10vh; }
    .footer .logo p {
      padding-top: 10%;
      font-family: "monserat";
      color: #fff; }
  .footer .footlinks {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 2% 0;
    border-right: 1px solid #fff;
    text-align: center; }
    .footer .footlinks a {
      text-align: left;
      color: #fff;
      font-size: 2.6vh;
      text-decoration: none;
      font-family: "monserat"; }
  .footer .soclinks {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .footer .soclinks .socialimg {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      box-sizing: border-box;
      padding: 0 20%; }
      .footer .soclinks .socialimg img {
        width: 40px;
        height: 40px; }
    .footer .soclinks .buttonlink {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer .soclinks .buttonlink button {
        width: 50%;
        height: 7vh;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        border: solid 1px #fff;
        color: #fff;
        background-color: black;
        font-family: "monserat";
        font-size: 2.8vh; }

/*# sourceMappingURL=main.css.map */
